---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import { Image } from "astro:assets";
import vscode from "../assets/vscode.png";
---

<Layout title="Setup - exylons (Lance Ross)">
  <Header title="Setup" />
  <section>
    <p class="mt-3 max-w-prose leading-relaxed">
      If you are curious about my web development setup, it's nothing fancy
      really. It's just a gaming laptop (gifted to me) that I use everyday for
      web development, school and gaming.
    </p>
    <ul class="mt-3 pl-6 max-w-prose leading-relaxed space-y-2 list-disc">
      <li>Laptop: Dell G15 (i7-13650HX and RTX 4060)</li>
      <li>Keyboard: Langtu GK65</li>
      <li>Mouse: VXE R1 SE+</li>
    </ul>
    <article
      class="dark:text-zinc-200 text-zinc-800 py-2 px-4 mb-6 rounded-md sm:text-base border border-zinc-500 bg-zinc-600/20 mt-6"
    >
      <span class="font-semibold">Remember:</span>
       You don't need an expensive computer or laptop for programming!
    </article>
  </section>
  <section>
    <h1
      class="mb-6 dark:text-zinc-100 text-zinc-950 text-2xl font-bold tracking-normal sm:text-3xl"
    >
      IDE
    </h1>
    <p class="mt-3 max-w-prose leading-relaxed">
      My IDE (Visual Studio Code) doesn't have all those fancy stuff, I have all
      settings and theme to default. I only installed needed extensions like
      Astro and a few JavaScript plugins.
    </p>
    <Image
      src={vscode}
      alt="Visual Studio Code"
      loading="eager"
      class="aspect-auto mt-6 rounded-lg"
      width={1280}
      height={720}
    />
  </section>
</Layout>
