---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
---

<Layout title="Setup - exylons (Lance Ross)">
  <Header title="Setup" />
  <section>
    <p class="mt-3 max-w-prose leading-relaxed">
      If you are curious about my web development setup, it's nothing fancy
      really. It's just a gaming laptop that I use everyday for coding, school
      and gaming.
    </p>
  </section>
</Layout>
