---
import { Icon } from "astro-icon/components";

interface Props {
  audioFile: string;
  title: string;
  description: string;
}
const { audioFile, title, description } = Astro.props;
---

<audio id="player" src={audioFile} preload="none"></audio>
<div class="dark:bg-zinc-900 bg-zinc-200/50 w-full flex shadow-sm rounded-xl !no-prose mb-8">
  <div class="p-2 flex">
    <button
      class="play-pause-button bg-zinc-200 dark:bg-zinc-800 hover:bg-zinc-300 dark:hover:bg-zinc-700/70 p-7 transition-colors cursor-pointer rounded-xl"
      id="togglePlayPauseButton"
      aria-label="PlayPause"
    >
      <Icon name="play" class="w-6 h-6" id="PlayLogo" />
      <Icon name="pause" class="w-6 h-6 hidden" id="PauseLogo" />
    </button>
    <ul class="group flex flex-col list-none">
      <li class="font-bold my-1 max-w-prose leading-relaxed">{title}</li>
      <li class="my-1 max-w-prose leading-relaxed">{description}</li>
    </ul>
  </div>
</div>

<script is:inline>
let isPlaying = false;
let PlayLogo = document.getElementById("PlayLogo");
let PauseLogo = document.getElementById("PauseLogo");
const player = document.getElementById("player");

player.addEventListener("ended", () => {
  isPlaying = false;
  PlayLogo.classList.remove("hidden");
  PauseLogo.classList.add("hidden");
});

document
  .getElementById("togglePlayPauseButton")
  .addEventListener("click", () => {
    if (isPlaying) {
      player.pause();
      PlayLogo.classList.remove("hidden");
      PauseLogo.classList.add("hidden");
    } else {
      player.play();
      PlayLogo.classList.add("hidden");
      PauseLogo.classList.remove("hidden");
    }
    isPlaying = !isPlaying;
  });
</script>
